<%- include('layouts/header.ejs') %>

<div class="container-fluid" style="background-color: #8d9db6;">
  <h1>Meet the TAMUSA Team</h1>
</div>
<br>
<section>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="img/arturo.jpg"
          xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /></img>

        <h2 class="fw-normal">Arturo Corona</h2>
        <h4>Software Developer</h4>
        <p>Arturo’s experience across many aspects of computer science proved to be useful in the implementation of
          our group’s solution. He was able to lead the charge when it came to putting concepts and ideas into
          something tangible</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/arturocorona2000/">LinkedIn  &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="img/Trevor.jpg"
          xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /></img>

        <h2 class="fw-normal">Trevor Dove</h2>
        <h4>Software Dev Intern</h4>
        <p>Trevor’s knowledge of oil markets proved useful in finding correlations and giving a greater picture of the
          economic landscape the oil industry can exist in. This context gave way to the implementation of relevant
          datapoints.
        </p>
        <p><a class="btn btn-secondary" href="https://www.facebook.com/trevor.dove.520">FaceBook &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="img/juan.jpg"
          xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /></img>

        <h2 class="fw-normal">Juan Garcia</h2>
        <h4>Data Analyst</h4>
        <p>Juan’s general experience in the field of computer programming goes deep, and this rich source of knowledge
          did not go unused. Juan was the leader the group looked to for support and guidance on both the
          implementation and creative direction of the project. His role could not be overstated.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/juan-garcia-65544b226/">LinkedIn &raquo;</a></p>
      </div>
    </div>
</section>
<div class="row">
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
      role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="img/seabas.jpg"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" focusable="false">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#777" />
    </img>

    <h2 class="fw-normal">Sebastian Rodriguez</h2>
    <h4>Sr. Software Developer</h4>
    <p>Sebastian played an instrumental role in the general support of the group. He was flexible enough in his skill
      base that he was able to give aid to whatever the team needed most at the time. This means front-end
      development, back-end development, and data analysis, all critical points for the team to execute properly.
    </p>
    <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/sebastian-rodriguez-035122205/">LinkedIn &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
      role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
  </div>
</div>
</section>

  <%- include('layouts/footer.ejs') %>