<%- include('layouts/header.ejs') %>

<div class="container">
    <div class="row">
      <div class="col-md">
        <h4></h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1> Name </h1>
      </div>
      <div class="col-md">
        <h1> Name </h1>
      </div>
      <div class="col-md">
        <h1> Name </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <img class="card-img-top" src="img/GDP to CPI.png" alt="Card image cap">
      </div>
      <div class="col-md">
        <img class="card-img-top" src="img/Oil Prod to CPI.png" alt="Card image cap">
      </div>
      <div class="col-md">
        <img class="card-img-top" src="img/Oil Prod to GDP.png" alt="Card image cap">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="GDP_CPI">
        <p>The information gattered here is plot that measures GDP and CPI of the United States. The colors indicate the
          amount of oil produced and the sive of the dot is relative to the average gas price adjusted for inflation.
        </p>
      </div>
      <div class="OilProd_CPI">
        <p>This information takes a slight different approch that is looking at actual oil production in the United
          States. Here we are exploring the correlation between oil production and the Unite States CPI. We are able to
          determine that as oil production increased so does consumer confidence with the opposite being correct as
          well. We are also able to determine that consumer confidence is also impacted while slighlty to the average
          gas price. </p>
      </div>
      <div class="OilProd_GDP">
        <p>The scatter plot here is measuring a simple correlation. That Measure is between Oil Production and GDP. The
          hue of the point is determined by the average gas price.</p>
      </div>
    </div>
  </div>

  <%- include('layouts/footer.ejs') %>