<%- include('layouts/header.ejs') %>

<div class="container-fluid" style="background-color: #f1e3dd;">
  <h1>Code Red Hackathon 2022</h1>
  <img src="img/background.png" alt="background">
</div>
</div>

<div class="row">
  <div class="col-12" text-align="center">
    <h3>ConocoPhillips Challenge</h3>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div>
      <h4>Innovation Theme </h4>
      <p>At ConocoPhillips, we anticipate change and respond with creative solutions. We are responsive to the
        changing
        needs of the industry. We embrace learning. We are not afraid to try new things.</p>
    </div>
    <div>
      <h4>Context</h4>
      <p>As a leader in the exploration and production space, we are constantly exploring new and creative ideas to
        visualize and analyze large datasets.</p>
    </div>
    <div>
      <h4>Problem Statement</h4>
      <p>Create a solution that analyzes and/or displays oil and gas production in the United States in an informative
        way.</p>
    </div>
  </div>
</div>

<%- include('layouts/footer.ejs') %>